<section class="profile">
  <div class="profile__card">
    <p class="profile__text"> 
      Hi! I'm <span class="profile__text--highlight" >Mercy Oyelude </span> 
    </p>
    <p class="profile__text"> 
      I create <span class="profile__text--highlight"> Sustainable Software Solutions. </span>
    </p>
    <p class="profile__text">
      <a class="profile__link" href="/contact">get in touch</a>.
    <p>
  </div>
</section>