---
title: "Eleventy Portfolio"
layout: "base.njk"
---

<section class="bio prose">
  <h2 class="heading--main">Hi, I'm Mercy</h2>

  <h4> Interface Design </h4>
  <p> With a rich     background in UI/UX design, I enjoy translating complex ideas into visually appealing, intuitive designs that enhance user experiences. My design toolkit includes Figma and other industry-standard tools, allowing me to create interfaces that are not only aesthetically pleasing but also highly functional. I take pride in making sure that users can navigate applications effortlessly, making the overall experience enjoyable and engaging.</p>

  <h4> Frontend Engineering and Green Software Advocacy </h4>

  <p> On the engineering side, I bring my design visions to life through clean, efficient code. Specializing in frontend development with frameworks like ReactJS and React Native, I build seamless, responsive web and mobile applications. My engineering work focuses on performance optimization and scalability, always with an eye toward reducing costs and improving overall efficiency. What truly drives my work is my advocacy for green software. As a certified green software practitioner, I’m dedicated to creating eco-friendly solutions that minimize energy consumption and reduce carbon footprints. I actively promote green coding practices, ensuring that sustainability is woven into every project I work on. </p>

  <h4> Speaking & Writing </h4>

  <p> I’m also passionate about sharing my knowledge and inspiring others. I’ve had the privilege of speaking at events like She Code Africa’s Mid-Year Symposium, where I shared insights on building green applications and their environmental benefits. In addition to speaking engagements, I’m on a 31-day LinkedIn challenge, writing about green software and offering practical tips for developers to adopt sustainable practices. Through both my speaking and writing, I aim to raise awareness and inspire others to join the green software movement, aligning my efforts with the broader goals of fostering innovation and sustainability in the tech world.</p>
</section>